In [28]:
import pandas as pd

df1 = pd.DataFrame({ [1, 2, 3], 
              [4, 5, 6],
              [7, 8, 9]})
df2 = pd.DataFrame({ [1, 2, 3],
                    [4, 5, 6],
            [7, 8, 9]})
df3 = pd.DataFrame({[1, 2, 3],
                    [4, 5, 6],
                    [7, 8, 9]})

TypeError: unhashable type: 'list'

In [26]:
df1

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [19]:
DF= pd.DataFrame({"df1" : [df1],
                  "df2" : [df2],
                  "df3" : [df3]})

In [27]:
DF

,df1,df2,df3
0,A B C 0 1 4 7 1 2 5 8 2 3 6 9,D E F 0 1 4 7 1 2 5 8 2 3 6 9,G H I 0 1 4 7 1 2 5 8 2 3 6 9

In [24]:
DF2 = pd.DataFrame({"df" : [df1, df2, df3]})

In [25]:
DF2

                                            df
0     A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
1     D  E  F
0  1  4  7
1  2  5  8
2  3  6  9
2     G  H  I
0  1  4  7
1  2  5  8
2  3  6  9